body{
    margin:0;
    background:#f4f4f4;
    font-family:Arial, sans-serif;
}

.container{

    width:420px;
    margin:100px auto;
    background:white;
    padding:25px;
    text-align:center;
    border:1px solid #ccc;

}

h1{

    color:#333;

}

p{

    color:#555;

}